#.gitignore file for jacobfgrant/ringr


# .DS_Store files
.DS_Store

# Archives files
*.tar
*.zip

# macOS Packages
*.pkg

# Python files
*.pyc

# Terraform directory
.terraform/

# Terraform files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars

# VS Code
.vscode/
